body,html{
    /*padding: 0;*/
    /*margin: 0;*/
}
#app{
    width: 100%;
    height: 100%;
    padding: 10px;
}
/*  title  */
.title{
    width: 100%;
    height: 286px;
    margin-bottom: 5px;
    padding-top:5px;
    background-color: #f7f7f7;
    text-align: center;
    overflow: auto;
}
.title:after{
    content: '';
    display: block;
    clear: both;
}
.title_inner{
    float: left;
    width: 53%;
    margin: 0 1%;
}
.title_config{
    width: 27%;
    float: left;
    padding-top: 10px;
}
.title_inner:after{
    content: '';
    display: block;
    clear: both;
}
.ivu-col{
    margin-right: 10px;
}
.title_div{
    float: left;
    width: 135px;
    margin-right: 10px;
}
.title_div_li{
    margin:0 5px 5px 0;
    border-radius: 5px;
    float: left;
    width: 100px;
 }
.ivu-card-body{
    padding: 10px 16px 16px 16px;
}
h4{
    margin-bottom: 3px;
}
.title_btn_li{
    list-style: none;
    height: 37px;
    float: left;
}
.title_btn_ul:after{
    content: '';
    display: block;
    clear: both;
}
.title_div_li_custom{
    background-color: #fff2e8;
    /*width: 31%;*/
}
.title_div_li_string{
    background-color: #e1f0fe;
    /*width: 47%;*/
}
.title_div_li_date{
    background-color: #f9f0ff;
    /*width: 100%;*/
}
.title_character{
    width: 245px;
    /*width: 22%;*/
}
.title_custom{
    width: 350px;
    /*width: 32%;*/
}

.ivu-checkbox-wrapper{
    margin-right: 59px;
}
.title_config_button{
    padding-top: 15px;
}
.ivu-form-item{
    margin-bottom: 5px;
}


.tooltip{
    float: left;
    width: 17%;
    height: 97%;
    overflow: hidden;
}
.tooltip_ul{
    width: 95%;
    text-align: left;
}
.tooltip_li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.ivu-table-small td{
    height: 33px;
}



/*  button  */
#download{
    float: right;
}
.button{
    margin-bottom: 5px;
    height: 33px;
}
.button_item{
    margin-right: 5px;
    float: left;
}
.ivu-dropdown{
    float: right;
    margin-left: 10px;
}
.download_input{
    float: right;
}
.download_span{
    margin: 0 5px;
}



/*  content  */
.content{
    height: calc(100% - 305px);
}
.content_page{
    margin-top: 10px;
}
.ivu-table-wrapper{
    height: calc(100% - 340px);
}
.ivu-table th.demo-table-info-column{
    background-color: #c5c8ce;
    color: #000000;
}

/*  prompt  */
.prompt{
    width: 300px;
    height: 200px;
    margin: 10% auto;
    font-size: 18px;
    color: #aaaaaa;
    font-style: italic;
}